[submodule "external/haipipe-toolkit"]
	path = external/haipipe-toolkit
	url = https://github.com/JHU-CDHAI/WellDoc-SPACE.git
[submodule "external/codex-oauth"]
	path = external/codex-oauth
	url = https://github.com/zeron-G/codex_oauth.git
[submodule "external/tools"]
	path = external/tools
	url = https://github.com/jluo41/Tools.git
[submodule "external/academic-research-skills"]
	path = external/academic-research-skills
	url = https://github.com/Imbad0202/academic-research-skills.git
